/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Body */
body {
  background-color: #0d1117;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* Root */
#root {
  width: 100%;
  min-height: 100vh;
}

.section-title {
    text-align: center;
    font-size: 48px;
    color: white;
    margin-bottom: 60px;
}

.section-title span {
    color: #3b82f6;
}